#root {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: var(--slate-900); */
  width: 80%;

}


/* .search{
  padding: 0.7vw;
  border-width: 0px;
 
 
  
  color: var(--slate-100);
} */





