@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --character_item_dark:slate-800;
  --nav_dark:slate-700;
  --text_dark:slate-50;


  --nav_light:rose-700;
  --rose-500: rose-500;
  --character_item_light:rose-200;


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100vw;
  min-height: 100vh;
  /* background-color: var(--slate-900); */
  color: var(--slate-300);
  margin:5px auto
}
input:focus {
  outline:none;
}
@layer components {
  .navbar {
    @apply relative dark:bg-slate-700 bg-rose-700 flex justify-between 
    items-center rounded-[5px] p-3 mt-4
  }
  .search_input{
    @apply  border-solid rounded-[5px] dark:bg-slate-500 bg-rose-200
     dark:text-slate-100 dark:placeholder:text-slate-400 placeholder:text-rose-100 p-1 w-[55%] inline-block;
  }
  .search_box{
    @apply hidden sm:flex w-[75%];
  }
  .toggleSearch{
    @apply opacity-0 max-h-0 mt-[1vw]  
     dark:bg-slate-700 bg-rose-300 rounded-[5px] p-1;
  }
  .toggleSearchClicked{
    @apply opacity-100 max-h-10 sm:opacity-0 sm:max-h-0 transition-all delay-150 duration-300 ease-out
  }
  .logo{
    @apply font-[700]
  }
  .nav_result{
    @apply w-[35%];
  }
  .icons_nav{
    @apply flex justify-between items-center w-[18%] sm:w-[10%]
  }
  .heart{
   @apply relative flex;
  }
  .icon{
    @apply sm:w-[1.5rem] sm:h-[1.5rem] w-[1.1rem] h-[1.1rem] ;
  }
  .red{
   @apply text-rose-500;
  }
  .badge{
    @apply sm:w-[15px] sm:h-[15px] w-[12px] h-[12px]  rounded-[50%] p-[0.3vw] text-[0.6rem]
     bg-rose-500 absolute top-[-0.25vw] right-[-0.3vw]
      text-slate-100 flex justify-center items-center font-bold
  }
  .icon_mode{
    @apply icon text-yellow-400 ml-2;
  }
  .characters{
    @apply  grid grid-cols-12 gap-2 mt-[1vw]; 
  }
  .characterList{
    @apply md:col-span-5 col-span-12 grid grid-cols-auto-fit-100 gap-2 md:grid-cols-12 
    place-content-stretch ;
  }
  .characterDetail{
    @apply md:col-span-7 col-span-12 flex flex-col gap-2;
  }
  .characterItem{
    @apply transitionParam hover:bg-rose-700
    hover:cursor-pointer hover:dark:bg-slate-700  dark:bg-slate-800 bg-rose-200
      rounded p-1 md:col-span-12 grid grid-cols-12;
  }
  .transitionParam{
    @apply transition-all delay-150 duration-300 ease-out
  }
  .characterItem_Info{
    @apply col-span-5 flex flex-col justify-center items-start medium:text-[0.95rem] text-[0.8rem];
  }
  /*  */
}


